/**COPIA DE ORDEN DE VENTA Y OFERTA DE VENTA */
.invi {
    border: none;
    background-color: transparent;
}
/* 
////////////////////////////////////////////
TABLE FIXED HEADER, AND SCROLL IN BODY, BEGIN
////////////////////////////////////////////
*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
   width: 100%;;
    height: 45vh;
    overflow-y: auto;
    overflow-x: auto;   
  }
  .STYLEUDF{
    margin-bottom: 0% !important;
}

  thead th { position: sticky; top: 0; background-color: #3c75b5;  }  
  table th,
  table td {
    padding: .4em 0.2em;
    content: ' ';
  }
  tr td:last-child{
      width:1%;
      white-space:nowrap;     
  }
.table-sm td,th{
    padding: 0px !important;
}  

//------- 001 D&D
.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .cdk-drag-preview { 
    display: table;
    padding: 10px 0;
     box-sizing: border-box;
    border-radius: 4px; 
     box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); 
    align-items: center;
    
  }
  .cdk-drag-placeholder	{
    opacity: 0;
    cursor: pointer;
  }

  #mtable td {
    border: 1px solid #dee2e6;
    padding: 0rem;
    border-bottom: 0;
}

#mtable tr:last-child td {
    border: 1px solid #dee2e6;
}

#mtable tr:hover td {
    border-top-color: #000;
    border-bottom: 1px solid #000;
}

#mtable tr:hover td:first-child {
    border-left-color: #000;
}

#mtable tr:hover td:last-child {
    border-right-color: #000;
}
table {
    border-collapse: collapse;
}
.inputFocused:focus {

    font-weight: bolder;
    font-size: 16px;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}  

// UDFS
.Rendered{
    margin-right: 30px !important;

}  
.NoRendered {
    margin-left: 0px !important;
    margin: 0%;
}

.hiddenComponent {
    display: none;
}