<block-ui>
    <div *ngIf="permisos">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control form-control-sm" type="text"  [(ngModel)]="searchUser" (keyup)='filterDatatable($event)' placeholder="Escriba aquí para filtrar el resultado" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="float-right ml-1">
                        <a class="btn btn-success btn-sm button-action" (click)="confPage(0)">
                            <i class="fas fa-external-link-square-alt"></i>&nbsp;Asociar usuario</a>
                    </div>
                </div>
            </div>
        <div class="row container-fluid  contenidoFacturacion ml-1 mr-1">
            <div class="col-md-12 pl-0 pr-0">
                <table class="TableFacturacion invi" id="tbEnabled">
                    <thead>
                        <tr>
                            <th width="20%" class="thHeader" scope="col">&nbsp;&nbsp;Usuario</th>
                            <th width="20%" class="thHeader" scope="col">Usuario SAP </th>
                            <th width="25%"class="thHeader"  scope="col">Sucursal </th>
                            <th width="35%" class="thHeader" scope="col">Compañía </th>
                            <th width="35%" class="thHeader" scope="col">Activo </th>
                            <th width="35%" class="thHeader" scope="col">Super usuario </th>
                            <th width="1%" class="thHeader" scope="col">Opciones&nbsp;&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody style="width: 100%;">
                        <tr scope="row" *ngFor="let user of filteredData" class="invi">
                            <td>&nbsp;{{user.UserName}}</td>
                            <td>{{user.SAPUser}}</td>
                            <td>{{user.StoreName}}</td>
                            <td>{{user.CompanyName}}</td>
                            <td class=""><i class="fas fa-{{user.Active? 'check': 'times'}}"></i></td>
                            <td class=""><i class="fas fa-{{user.SuperUser? 'check': 'times'}}"></i></td>                           
                            <td>
                                <span style="cursor: pointer" class="far fa-edit cursor-hand" (click)="confPage(user)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>     
      
      
    </div>
    <div *ngIf="!permisos">
        <h2>No se tienen permisos para acceder a esta página</h2>
    </div>
</block-ui>