// thead, tbody { display: block; }
// tbody {
//     height: 300px;
//     overflow-y: auto;
//     overflow-x: hidden;
// }

// .table td, .table th {
//     border-top: none !important;
// }
.invi {
    border: none;
    background-color: transparent;
}
.td.invi {
    border: none;
    background-color: transparent;
    /*word-break:break-all;*/
}