.bg-dark{
    background-color: #3c75b5 !important; 
}

.clavisco-footer{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #f5eeee;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}